* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.bat text eol=crlf
gradlew text eol=lf
*.java text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.json text eol=lf
*.lang text eol=lf
*.mcmeta text eol=lf
*.info text eol=lf
*.md text eol=lf
*.py text eol=lf
*.yml text eol=lf

*.jar binary
*.png binary
